* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --dark-1: #1c1c1c;
  --dark-2: #2f2f2f;
  --dark-3: #828282;

  --light-1: #ffffff;
  --light-2: #f1f1f1;
  --light-3: #e1e1e1;

  --primary-1: #eebf63;
  --primary-2: #90c0e8;
  --primary-3: #6fc2c5;
  --primary-4: #cd921e;
  --primary-5: #486074;
  --primary-6: #386163;

  --radius-1: 10px;
  --radius-2: 20px;
  --radius-3: 25px;
  --radius-4: 30px;
  --radius-5: 45px;

  --transition: 250ms;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: var(--dark-2);
  background: var(--light-1);
  overflow: hidden;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.25em;

  @media (max-width: 1200px) {
    font-size: 42px;
  }

  @media (max-width: 992px) {
    font-size: 38px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
  }

  @media (max-width: 576px) {
    font-size: 32px;
  }
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.25em;

  @media (max-width: 1200px) {
    font-size: 32px;
  }

  @media (max-width: 992px) {
    font-size: 28px;
  }

  @media (max-width: 768px) {
    font-size: 26px;
  }

  @media (max-width: 576px) {
    font-size: 24px;
  }
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5em;

  @media (max-width: 1200px) {
    font-size: 28px;
  }

  @media (max-width: 992px) {
    font-size: 26px;
  }

  @media (max-width: 768px) {
    font-size: 24px;
  }

  @media (max-width: 576px) {
    font-size: 22px;
  }
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5em;

  @media (max-width: 1200px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.text-sm {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
}

.icon {
  &-download {
    mask: url("../images/icons/icons-download.svg");
  }

  &-instagram {
    mask: url("../images/icons/icons-instagram.svg");
  }

  &-mail {
    mask: url("../images/icons/icons-mail.svg");
  }

  &-star {
    mask: url("../images/icons/icons-star.svg");
  }

  &-star-half {
    mask: url("../images/icons/icons-star-half.svg");
  }

  &-youtube {
    mask: url("../images/icons/icons-youtube.svg");
  }

  &-home {
    mask: url("../images/icons/icons-home.svg");
  }

  &-user {
    mask: url("../images/icons/icons-user.svg");
  }

  &-briefcase {
    mask: url("../images/icons/icons-briefcase.svg");
  }

  &-headphone {
    mask: url("../images/icons/icons-headphone.svg");
  }

  display: inline-block;
  width: 1em;
  height: 1em;
  mask-size: contain !important;
  mask-position: center !important;
  mask-repeat: no-repeat !important;
  background: var(--dark-3);
  transition: background ease var(--transition);
}

.btn {
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0.75em 1.5em;
  min-width: 198px;
  border-radius: var(--radius-1);
  border: 0.125em solid transparent;
  transition: filter ease var(--transition), color ease var(--transition),
    background ease var(--transition);

  .icon {
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.75em;
  }

  &:hover {
    filter: brightness(120%);
  }

  &-filled {
    color: var(--light-1);
    background: var(--primary-1);
    border-color: var(--primary-1);

    .icon {
      background: var(--light-1);
    }

    &:active {
      color: var(--dark-3);
      background: transparent;

      .icon {
        background: var(--dark-3);
      }
    }
  }

  &-outline {
    color: var(--dark-3);
    border-color: var(--primary-1);

    .icon {
      background: var(--dark-3);
    }

    &:active {
      color: var(--light-1);
      background: var(--primary-1);

      .icon {
        background: var(--light-1);
      }
    }
  }
}

@mixin loader($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $size/8 solid transparent;
  border-top-color: var(--primary-1);
  border-bottom-color: var(--primary-1);

  animation: loader linear 1s infinite;

  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin burger($size) {
  cursor: pointer;

  &__line {
    width: $size;
    height: $size/8;
    border-radius: $size/8;
    background: var(--dark-3);
    transition: background ease var(--transition);

    &:nth-child(2) {
      margin: $size/8 0;
    }
  }

  &__check {
    display: none;
  }

  &:active &__line {
    background: var(--dark-1);
  }

  &Open &__line {
    &:nth-child(1) {
      animation: line1Open ease 250ms forwards;
    }
    &:nth-child(2) {
      animation: line2Open ease 125ms forwards;
    }
    &:nth-child(3) {
      animation: line3Open ease 250ms forwards;
    }

    @keyframes line1Open {
      0% {
        transform: translate(0) rotate(0);
      }

      50% {
        transform: translateY($size/4) rotate(0);
      }

      100% {
        transform: translateY($size/4) rotate(45deg);
      }
    }

    @keyframes line2Open {
      to {
        opacity: 0;
      }
    }

    @keyframes line3Open {
      0% {
        transform: translate(0) rotate(0);
      }

      50% {
        transform: translateY(-$size/4) rotate(0);
      }

      100% {
        transform: translateY(-$size/4) rotate(-45deg);
      }
    }
  }

  &Close &__line {
    &:nth-child(1) {
      animation: line1Close ease 250ms forwards;
    }
    &:nth-child(2) {
      animation: line2Close ease 250ms forwards;
    }
    &:nth-child(3) {
      animation: line3Close ease 250ms forwards;
    }

    @keyframes line1Close {
      0% {
        transform: translateY($size/4) rotate(45deg);
      }

      50% {
        transform: translateY($size/4) rotate(0);
      }

      100% {
        transform: translateY(0) rotate(0);
      }
    }

    @keyframes line2Close {
      0%,
      50% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes line3Close {
      0% {
        transform: translateY(-$size/4) rotate(-45deg);
      }

      50% {
        transform: translateY(-$size/4) rotate(0);
      }

      100% {
        transform: translateY(0) rotate(0);
      }
    }
  }
}
