@import "./default";

body {
  overflow: hidden;
}

.load {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light-1);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &er {
    @include loader(56px);
    margin-bottom: 16px;
  }

  h3 {
    color: var(--dark-3);
  }

  &ed {
    animation: loaded ease var(--transition) forwards;

    @keyframes loaded {
      to {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.nav {
  padding: 12px 0;
  border-bottom: 2px solid var(--primary-1);
  background-color: var(--light-1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 22px;
    font-weight: 600;
    color: var(--dark-2);
  }

  &__burger__check {
    display: none;
  }

  &__menu {
    &__body {
      display: flex;
    }

    &__item {
      margin: 0 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      color: var(--dark-3);
      font-weight: 500;
      transition: color ease 250ms;

      &:hover {
        color: var(--primary-1);
      }

      .icon {
        display: none;
      }
    }
  }

  @media (max-width: 576px) {
    &__burger {
      @include burger(32px);
    }

    &__menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      background-color: var(--primary-1);
      overflow: hidden;
      height: 0;
      transition: height ease var(--transition);

      &Open {
        height: 228px;
      }

      &__body {
        flex-direction: column;
        padding: 12px 0;
      }

      &__item {
        margin: 12px 0;
      }

      &__link {
        color: var(--light-1);
        display: flex;
        align-items: center;

        &:hover {
          color: var(--light-1);
        }

        .icon {
          display: inline-block;
          background: var(--light-1);
          margin-right: 16px;
          width: 1.25em;
          height: 1.25em;
        }
      }
    }
  }
}

.header {
  margin-top: 53px;
  padding: 84px 0;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    width: 50%;

    &__subtitle {
      color: var(--dark-3);
      margin-bottom: 1em;
    }

    &__title span {
      color: var(--primary-1);
    }

    &__vector {
      width: 70%;
      margin: 16px 0 24px 0;

      img {
        width: 100%;
      }
    }

    &__btns {
      display: flex;
      margin-top: 32px;

      .btn {
        &:first-child {
          margin-right: 8px;
        }
        &:last-child {
          margin-left: 8px;
        }
      }
    }
  }

  &__img {
    width: 35%;
    padding-top: 35%;
    border-radius: 50%;
    background-color: var(--primary-1);
    overflow: hidden;
  }

  @media (max-width: 926px) {
    &__body {
      flex-direction: column-reverse;
      justify-content: baseline;
      text-align: center;
    }

    &__content {
      width: 100%;
      max-width: 560px;
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__btns {
        justify-content: center;
      }
    }
  }

  @media (max-width: 724px) {
    &__img {
      width: 45%;
      padding-top: 45%;
    }
  }

  @media (max-width: 576px) {
    &__img {
      width: 50%;
      padding-top: 50%;
    }

    &__content__btns {
      flex-direction: column;
      align-items: center;
      justify-content: baseline;

      .btn {
        margin: 0 !important;

        &:nth-child(2) {
          margin-top: 16px !important;
        }
      }
    }
  }

  @media (max-width: 414px) {
    &__img {
      width: 60%;
      padding-top: 60%;
    }
  }
}

.card {
  border-radius: var(--radius-5);
  background-color: var(--light-2);
  margin: 48px auto;

  &__body {
    padding: 56px 48px;
    display: flex;
    justify-content: space-around;
  }

  &__img {
    width: 30%;
    background-color: var(--primary-3);
    border-radius: var(--radius-4);
  }

  &__content {
    padding: 48px 0;
    width: 55%;

    &__header {
      display: flex;
    }

    &__projects {
      margin-right: 36px;

      h1 span {
        color: var(--primary-3);
      }
      p {
        color: var(--dark-3);
      }
    }

    &__reviews {
      &__top {
        display: flex;
        align-items: center;
      }

      &__stars {
        display: flex;
        margin-left: 16px;

        .icon {
          background: var(--primary-1);
          margin: 0 3px;
          width: 1.5rem;
          height: 1.5rem;
        }

        .icon:last-child {
          background: var(--dark-3);
        }
      }

      p {
        color: var(--dark-3);
      }
    }

    &__body {
      margin-top: 48px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__text {
      max-width: 480px;
    }
  }

  @media (max-width: 1056px) {
    &__content {
      padding: 24px 0;
    }
  }

  @media (max-width: 976px) {
    &__content {
      padding: 0;
    }
  }

  @media (max-width: 916px) {
    &__body {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      height: 240px;
      width: 100%;
    }

    &-section {
      max-width: 560px;
    }

    &__content {
      width: 100%;
      margin-top: 16px;

      .icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  @media (max-width: 576px) {
    & {
      margin: 32px 0;
    }
  }

  @media (max-width: 530px) {
    &__body {
      padding: 24px 24px 45px 24px;
    }
  }

  @media (max-width: 482px) {
    &__content__header {
      p {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 442px) {
    &__content__header {
      h1 {
        font-size: 24px;
      }

      .icon {
        width: 1rem;
        height: 1rem;
        margin: 0 2px;
      }
    }

    &__content__reviews__stars {
      margin-left: 6px;
    }
  }

  @media (max-width: 394px) {
    &__content__projects {
      margin-right: 16px;
    }
  }

  @media (max-width: 375px) {
    &__content__header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__content__projects {
      margin-bottom: 16px;
    }

    &__content__body {
      margin-top: 16px;
      text-align: center;
    }
  }
}

.hire {
  margin: 100px 0;
  text-align: center;

  &__box {
    width: 22.5%;
    margin-bottom: 32px;

    &__container {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__img {
      width: 100%;
      padding-top: 120%;
      background-color: var(--primary-3);
      border-radius: var(--radius-5);
      overflow: hidden;
    }

    &__title {
      margin: 27px 0 7px 0;
    }

    &__text {
      color: var(--dark-3);
    }

    @media (max-width: 885px) {
      width: 48%;
    }

    @media (max-width: 576px) {
      width: 100%;
      max-width: 360px;

      &__container {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.cta {
  padding: 50px 0;

  &__card {
    border-radius: var(--radius-3);
    background-color: var(--primary-1);
    padding: 60px 24px;
    flex-wrap: wrap;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &__title {
      color: var(--light-1);
      max-width: 560px;
      margin: 0 32px;
    }

    &__btn {
      background-color: var(--light-1);
      color: var(--dark-2);
      border-color: var(--light-1);

      .icon {
        background: var(--dark-2);
      }

      &:active {
        color: var(--light-1);
        .icon {
          background: var(--light-1);
        }
      }
    }

    @media (max-width: 901px) {
      &__title {
        text-align: center;
        margin: 0 0 32px 0;
      }

      &{
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
      }
    }
  }
}