* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --dark-1: #1c1c1c;
  --dark-2: #2f2f2f;
  --dark-3: #828282;
  --light-1: #ffffff;
  --light-2: #f1f1f1;
  --light-3: #e1e1e1;
  --primary-1: #eebf63;
  --primary-2: #90c0e8;
  --primary-3: #6fc2c5;
  --primary-4: #cd921e;
  --primary-5: #486074;
  --primary-6: #386163;
  --radius-1: 10px;
  --radius-2: 20px;
  --radius-3: 25px;
  --radius-4: 30px;
  --radius-5: 45px;
  --transition: 250ms;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: var(--dark-2);
  background: var(--light-1);
  overflow: hidden;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.25em;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.25em;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5em;
}

@media (max-width: 1200px) {
  h3 {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  h3 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5em;
}

@media (max-width: 1200px) {
  h4 {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 18px;
  }
}

.text-sm {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-position: center !important;
          mask-position: center !important;
  -webkit-mask-repeat: no-repeat !important;
          mask-repeat: no-repeat !important;
  background: var(--dark-3);
  -webkit-transition: background ease var(--transition);
  transition: background ease var(--transition);
}

.icon-download {
  -webkit-mask: url("../images/icons/icons-download.svg");
          mask: url("../images/icons/icons-download.svg");
}

.icon-instagram {
  -webkit-mask: url("../images/icons/icons-instagram.svg");
          mask: url("../images/icons/icons-instagram.svg");
}

.icon-mail {
  -webkit-mask: url("../images/icons/icons-mail.svg");
          mask: url("../images/icons/icons-mail.svg");
}

.icon-star {
  -webkit-mask: url("../images/icons/icons-star.svg");
          mask: url("../images/icons/icons-star.svg");
}

.icon-star-half {
  -webkit-mask: url("../images/icons/icons-star-half.svg");
          mask: url("../images/icons/icons-star-half.svg");
}

.icon-youtube {
  -webkit-mask: url("../images/icons/icons-youtube.svg");
          mask: url("../images/icons/icons-youtube.svg");
}

.icon-home {
  -webkit-mask: url("../images/icons/icons-home.svg");
          mask: url("../images/icons/icons-home.svg");
}

.icon-user {
  -webkit-mask: url("../images/icons/icons-user.svg");
          mask: url("../images/icons/icons-user.svg");
}

.icon-briefcase {
  -webkit-mask: url("../images/icons/icons-briefcase.svg");
          mask: url("../images/icons/icons-briefcase.svg");
}

.icon-headphone {
  -webkit-mask: url("../images/icons/icons-headphone.svg");
          mask: url("../images/icons/icons-headphone.svg");
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0.75em 1.5em;
  min-width: 198px;
  border-radius: var(--radius-1);
  border: 0.125em solid transparent;
  -webkit-transition: color ease var(--transition), background ease var(--transition), -webkit-filter ease var(--transition);
  transition: color ease var(--transition), background ease var(--transition), -webkit-filter ease var(--transition);
  transition: filter ease var(--transition), color ease var(--transition), background ease var(--transition);
  transition: filter ease var(--transition), color ease var(--transition), background ease var(--transition), -webkit-filter ease var(--transition);
}

.btn .icon {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.75em;
}

.btn:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.btn-filled {
  color: var(--light-1);
  background: var(--primary-1);
  border-color: var(--primary-1);
}

.btn-filled .icon {
  background: var(--light-1);
}

.btn-filled:active {
  color: var(--dark-3);
  background: transparent;
}

.btn-filled:active .icon {
  background: var(--dark-3);
}

.btn-outline {
  color: var(--dark-3);
  border-color: var(--primary-1);
}

.btn-outline .icon {
  background: var(--dark-3);
}

.btn-outline:active {
  color: var(--light-1);
  background: var(--primary-1);
}

.btn-outline:active .icon {
  background: var(--light-1);
}

.wrapper {
  margin-top: 53px;
}

.load {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light-1);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: var(--primary-1);
  border-bottom-color: var(--primary-1);
  -webkit-animation: loader linear 1s infinite;
          animation: loader linear 1s infinite;
  margin-bottom: 16px;
}

@-webkit-keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.load h3 {
  color: var(--dark-3);
}

.loaded {
  -webkit-animation: loaded ease var(--transition) forwards;
          animation: loaded ease var(--transition) forwards;
}

@-webkit-keyframes loaded {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loaded {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.nav {
  padding: 12px 0;
  border-bottom: 2px solid var(--primary-1);
  background-color: var(--light-1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  font-size: 22px;
  font-weight: 600;
  color: var(--dark-2);
}

.nav__burger__check {
  display: none;
}

.nav__menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu__item {
  margin: 0 16px;
}

.nav__menu__item:first-child {
  margin-left: 0;
}

.nav__menu__item:last-child {
  margin-right: 0;
}

.nav__menu__link {
  color: var(--dark-3);
  font-weight: 500;
  -webkit-transition: color ease 250ms;
  transition: color ease 250ms;
}

.nav__menu__link:hover {
  color: var(--primary-1);
}

.nav__menu__link .icon {
  display: none;
}

@media (min-width: 577px) {
  .nav .active {
    color: var(--primary-1);
  }
}

@media (max-width: 576px) {
  .nav__burger {
    cursor: pointer;
  }
  .nav__burger__line {
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background: var(--dark-3);
    -webkit-transition: background ease var(--transition);
    transition: background ease var(--transition);
  }
  .nav__burger__line:nth-child(2) {
    margin: 4px 0;
  }
  .nav__burger__check {
    display: none;
  }
  .nav__burger:active .nav__burger__line {
    background: var(--dark-1);
  }
  .nav__burgerOpen .nav__burger__line:nth-child(1) {
    -webkit-animation: line1Open ease 250ms forwards;
            animation: line1Open ease 250ms forwards;
  }
  .nav__burgerOpen .nav__burger__line:nth-child(2) {
    -webkit-animation: line2Open ease 125ms forwards;
            animation: line2Open ease 125ms forwards;
  }
  .nav__burgerOpen .nav__burger__line:nth-child(3) {
    -webkit-animation: line3Open ease 250ms forwards;
            animation: line3Open ease 250ms forwards;
  }
  @-webkit-keyframes line1Open {
    0% {
      -webkit-transform: translate(0) rotate(0);
              transform: translate(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(8px) rotate(0);
              transform: translateY(8px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(8px) rotate(45deg);
              transform: translateY(8px) rotate(45deg);
    }
  }
  @keyframes line1Open {
    0% {
      -webkit-transform: translate(0) rotate(0);
              transform: translate(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(8px) rotate(0);
              transform: translateY(8px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(8px) rotate(45deg);
              transform: translateY(8px) rotate(45deg);
    }
  }
  @-webkit-keyframes line2Open {
    to {
      opacity: 0;
    }
  }
  @keyframes line2Open {
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes line3Open {
    0% {
      -webkit-transform: translate(0) rotate(0);
              transform: translate(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(-8px) rotate(0);
              transform: translateY(-8px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(-8px) rotate(-45deg);
              transform: translateY(-8px) rotate(-45deg);
    }
  }
  @keyframes line3Open {
    0% {
      -webkit-transform: translate(0) rotate(0);
              transform: translate(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(-8px) rotate(0);
              transform: translateY(-8px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(-8px) rotate(-45deg);
              transform: translateY(-8px) rotate(-45deg);
    }
  }
  .nav__burgerClose .nav__burger__line:nth-child(1) {
    -webkit-animation: line1Close ease 250ms forwards;
            animation: line1Close ease 250ms forwards;
  }
  .nav__burgerClose .nav__burger__line:nth-child(2) {
    -webkit-animation: line2Close ease 250ms forwards;
            animation: line2Close ease 250ms forwards;
  }
  .nav__burgerClose .nav__burger__line:nth-child(3) {
    -webkit-animation: line3Close ease 250ms forwards;
            animation: line3Close ease 250ms forwards;
  }
  @-webkit-keyframes line1Close {
    0% {
      -webkit-transform: translateY(8px) rotate(45deg);
              transform: translateY(8px) rotate(45deg);
    }
    50% {
      -webkit-transform: translateY(8px) rotate(0);
              transform: translateY(8px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
  }
  @keyframes line1Close {
    0% {
      -webkit-transform: translateY(8px) rotate(45deg);
              transform: translateY(8px) rotate(45deg);
    }
    50% {
      -webkit-transform: translateY(8px) rotate(0);
              transform: translateY(8px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
  }
  @-webkit-keyframes line2Close {
    0%,
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes line2Close {
    0%,
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes line3Close {
    0% {
      -webkit-transform: translateY(-8px) rotate(-45deg);
              transform: translateY(-8px) rotate(-45deg);
    }
    50% {
      -webkit-transform: translateY(-8px) rotate(0);
              transform: translateY(-8px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
  }
  @keyframes line3Close {
    0% {
      -webkit-transform: translateY(-8px) rotate(-45deg);
              transform: translateY(-8px) rotate(-45deg);
    }
    50% {
      -webkit-transform: translateY(-8px) rotate(0);
              transform: translateY(-8px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
  }
  .nav__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--primary-1);
    overflow: hidden;
    height: 0;
    -webkit-transition: height ease var(--transition);
    transition: height ease var(--transition);
  }
  .nav__menuOpen {
    height: 228px;
  }
  .nav__menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 0;
  }
  .nav__menu__item {
    margin: 12px 0;
  }
  .nav__menu__link {
    color: var(--light-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__menu__link:hover {
    color: var(--light-1);
  }
  .nav__menu__link .icon {
    display: inline-block;
    background: var(--light-1);
    margin-right: 16px;
    width: 1.25em;
    height: 1.25em;
  }
}

.footer {
  background-color: var(--primary-3);
  margin-top: 36px;
}

.footer__text {
  padding: 0.5em 0;
  text-align: center;
  color: var(--light-1);
}
/*# sourceMappingURL=main.css.map */